@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins',sans-serif;

}
body{

    background-color: black;
}


.main{
    background-image: url(assets/images/bg.jpg);
    background-position: center center;
    background-size: max(1200px,100vw);
    background-repeat: no-repeat;
    height: 80vh;
    position: relative;

}

.main .box{
    height: 80vh;
    width: 100%;
    opacity: 0.70;
    position: absolute;
    top: 0%;
    background-color: black;
}

nav{
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 70px;
}

nav img{
    color: red;
    width: 120px;
    position: relative;
    z-index: 10;
}

nav button{
    position: relative;
    z-index: 10;
}
.hero{
    font-family: 'Martel Sans', sans-serif;
    height:calc(100% - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 20px;
    padding: 0px 30px;
}

.hero> :nth-child(1){

    text-align: center;
    font-weight: 900;
    font-size: 45px;
}

.hero> :nth-child(2){
    text-align: center;
    font-weight: 400;
    font-size: 25px;
}
.hero> :nth-child(3){
    font-weight: 400;
    text-align: center;
    font-size: 20px;
}

.separation{
    height: 6px;
    background-color: rgba(48, 46, 46);
    opacity: 0.44;

}
.btn{
    padding: 3px 8px;
    font-weight: 400px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.253);
    color: white;
}

.btn-red{
    background-color: red;
    color: white;
    padding: 3px 8px;
    font-weight: 400px;
    border-radius: 4px;
}
.btn-reds{
    background-color: red;
    color: white;
    padding: 8px 18px;
    font-weight: 400px;
    border-radius: 6px;
}
.em{
    padding: 8px 18px;
    font-weight: bold;
    border-radius: 6px;
    background-color: rgba(23, 23, 23, 0.2);
    color: white;
    font-size: 12px;
}